@model StudentModel

<!Doctype html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Manage Student</title>
</head>
<body>
   
    <div>

        <b>  Full Name    </b>   : @Model.FName &nbsp; @Model.MName &nbsp;@Model.LName <br />
        <b>  DOB   </b>          : @Model.Day &nbsp; @Model.Month &nbsp; @Model.Year <br /><br />
        <b>Gender</b>            : @Model.Gender
        <b>  Current Address </b> :<br />
        <b>  Street Address </b> : @Model.StreetAddress<br />
        <b>  Street Address1 </b>: @Model.StreetAddress1<br />
        <b>  City           </b>: @Model.City<br />
        <b> State/Province</b> : @Model.State<br />
        <b>Postal/ZipCode </b> : @Model.ZipCode<br />
        <b>EMail Address  </b> : @Model.Email<br />
        <b> Phone Number   </b> : @Model.PhoneNumber<br />
        <b>Mobile Number </b> : @Model.MobileNumber<br />
        <b>Work Number   </b> : @Model.WorkNumber<br />
        <b> Comapany       </b> : @Model.Company<br />
        <b>Course        </b> : @Model.Courses <br />
        <b> Comments      </b> : @Model.Comments





    </div>
</body>
</html>